
<p>@TempData["message"]</p>
<form class="form-horizontal" method="post" asp-controller="User" asp-action="Register">
    <fieldset>

        <!-- Form Name -->
        <legend>Agregar Usuario</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="user">Correo de Usuario</label>
            <div class="col-md-4">
                <input id="user" name="EmailAddress" type="text" placeholder="placeholder" class="form-control input-md" required="">
                <span class="help-block">help</span>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Contraseña</label>
            <div class="col-md-4">
                <input id="password" name="EmailPassword" type="password" placeholder="placeholder" class="form-control input-md">
                <span class="help-block">help</span>
            </div>

        </div>
        <button type="submit" class="btn btn-primary mt-3">Registrar</button>
    </fieldset>
</form>


