
@{
    ViewData["Title"] = "Clanes";
    Layout = "~/Views/Shared/_LayoutDash.cshtml";
    var listclan = (ApiResponse<IEnumerable<Clans>>)ViewBag.listclan;
}
<div class="pagetitle">
    <h1>Clanes</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../Dash/Index">Home</a></li>
            <li class="breadcrumb-item">Clanes</li>
            <li class="breadcrumb-item active">Lista de Clanes</li>
        </ol>
    </nav>
</div>
<div class="row">
    <!-- Top Selling -->
    <div class="col-12">
        <div class="card top-selling overflow-auto">

            <div class="card-body pb-0">
                <h5 class="card-title">Lista de Clanes <span>BWT </span></h5>

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Nombre del Clan</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Usuarios Actuales</th>
                            <th scope="col">Limite de Usuarios</th>
                         
                        </tr>
                    </thead>
                    @foreach (var i in listclan.Data)
                    {
                        <tr>
                            <th scope="row"><img style="height:50px;width:50px" src="@i.NameClan" /> </th>
                            <td>@i.DescriptionClan</td>
                            <td>@i.CurrentUser</td>
                            <td class="fw-bold">@i.LimitUser</td>

                        </tr>

                    }
                </table>
            </div>
        </div>
    </div>
</div>
